.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 361px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

.card__image {
  object-fit: cover;
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}
.card__description {
  justify-content: space-between;
  display: flex;
  background-color: white;
  border-radius: 0 0 10px 10px;
  align-items: center;
}
.card__text {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  text-align: center;
  padding: 25px 20px;
  max-width: 193px;
}

.card__like-button {
  background: transparent url(../images/Groupheart.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  margin: 31px 20px 31px 0;
}

.card__like-button_active {
  background-image: url(../images/UnionactiveLikeButton.svg);
}

.card__like-button:hover {
  opacity: 50%;
  cursor: pointer;
}

.card__remove-button {
  background: transparent url(../images/TrashtrashCan.svg) center no-repeat;
  border-style: none;
  width: 18px;
  height: 19.3px;
  position: absolute;
  padding: 0;
  margin: 18px 15px 244px 249px;
}

.card__remove-button:hover {
  opacity: 60%;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .card__description {
    max-width: 282px;
  }
}
