.cards {
  padding: 51px 0 0 0;
  max-width: 880px;
  font-family: "Inter", Arial, sans-serif;
  justify-content: center;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  grid-gap: 17px 20px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 550px) {
  .cards {
    padding: 0;
  }

  .cards__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 800px) {
  .cards {
    width: 282px;
    margin: 0 10px 0;
  }
  .cards__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
