.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 361px;
  margin: 0;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}
.card__description {
  display: flex;
  background-color: white;
  border-radius: 0 0 10px 10px;
  align-content: center;
}
.card__text {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  text-align: center;
  padding: 25px 20px;
  max-width: 193px;
}

.card__like-button {
  background: transparent url(../images/Groupheart.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  margin: 31px 20px 31px 0;
}

@media screen and (min-width: 1280px) {
  .card__like-button:hover {
    opacity: 50%;
    cursor: pointer;
  }
}
