.header {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  margin: 45px 0 0;
}

.header__logo {
  margin: 0 0 41px 0;
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 550px) {
  .header {
    width: 100%;
    min-height: 56px;
    margin: 28px 0 42px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    padding: 0px 10px 32px 27px;
    margin: 0;
  }
}

@media screen and (min-width) and (max-width: 800px) {
  .header {
    margin: 45px 0px 0;
  }
}
