.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: flex;
  font-family: "Inter", Arial, sans-serif;
  display: none;
}

.modal__container {
  position: relative;
  width: 430px;
  background-color: #fff;
  border-radius: 10px;
  margin: auto;
}

.modal__container-heading {
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  margin: 34px 28px 54px 36px;
  width: 330px;
}

.modal__form-name {
  width: 358px;
  height: 27px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 20%);
  border-radius: 0;
  margin: 0 36px 29px 36px;
  padding: 0;
}

.modal__form-description {
  width: 358px;
  height: 27px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 20%);
  border-radius: 0;
  margin: 0 36px 48px 36px;
  padding: 0;
}

.modal__container-closeBtn {
  background: transparent url(../images/Close\ Icon.svg) center no-repeat;
  background-size: contain;
  height: 40px;
  width: 40px;
  border-style: none;
  padding: 0;
  position: absolute;
  top: -45px;
  right: -45px;
}

.modal__container-closeBtn:hover {
  opacity: 60%;
  cursor: pointer;
}
.modal__form-saveBtn {
  width: 358px;
  height: 50.15px;
  border-style: none;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  padding: 0;
  margin: 0 36px 36px;
}

.modal__form-saveBtn:hover {
  opacity: 80%;
  cursor: pointer;
}

.modal_opened {
  display: flex;
}

.modal__preview {
}

.modal__preview-image {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__preview-description {
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  margin: 10px 0 0 0;
}

.modal__preview-closeBtn {
  background: transparent url(../images/Close\ Icon.svg) center no-repeat;
}

.modal__preview-closeBtn:hover {
  opacity: 60%;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .modal__container {
    width: 282px;
  }

  .modal__container-heading {
    margin: 25px 22px 75px;
    width: 238px;
    font-size: 18px;
    line-height: 21.78px;
  }

  .modal__form-name {
    width: 238px;
    margin: 0 22px 30px;
  }

  .modal__form-description {
    width: 238px;
    margin: 0 22px 45px;
  }

  .modal__form-saveBtn {
    width: 238px;
    height: 46px;
    margin: 0 22px 25px;
    font-size: 14px;
    line-height: 16.94px;
  }

  .modal__container-closeBtn {
    height: 26px;
    width: 26px;
    left: 250px;
  }
}
