.profile {
  padding: 40px 20px 0 20px;
  margin: 0;
  max-width: 880px;
  height: 120px;
  display: flex;
  font-family: "Inter", Arial, sans-serif;
}

.profile__image {
  border-radius: 50%;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  width: 415px;
  height: 77px;
  margin: 21px 30px;
  flex-wrap: wrap;
  align-items: center;
}

.profile__name {
  color: #fff;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  grid-area: "title";
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
}

.profile__edit-button {
  height: 24px;
  width: 24px;
  background: transparent url(../images/Vector\ pencil.svg) center no-repeat;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  grid-area: "button";
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 415px;
}

.profile__description {
  color: #fff;
  font-weight: 400px;
  font-size: 18px;
  line-height: 21.78px;
  margin: 0;
  grid-area: "description";
}

.profile__add {
  margin: 13px 0 13px 133px;
}

.profile__add-button {
  background: transparent url(../images/Vectoradd\ button.svg) center no-repeat;
  height: 50px;
  width: 150px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
}

@media screen and (min-width: 1280px) {
  .profile__add-button:hover {
    opacity: 60%;
    cursor: pointer;
  }

  .profile__edit-button:hover {
    opacity: 60%;
    cursor: pointer;
  }
}

@media screen and (max-width: 550px) {
  .profile {
    height: 282px;
    width: 286px;
    margin: 0;
    padding: 42px 10px 0 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 0;
  }

  .profile__image {
    margin: 0 auto;
  }

  .profile__info {
    width: 282px;
    height: 50px;
    margin: 30px 19px 36px 19px;
    padding: 0;
    justify-content: center;
  }

  .profile__name {
    font-size: 22px;
    line-height: 26.63px;
    padding-right: 18px;
    width: 196px;
  }

  .profile__description {
    font-size: 14px;
    line-height: 16.94px;
    margin: 14px 19px 0 19px;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
  }

  .profile__add {
    margin-left: 0;
  }

  .profile__add-button {
    width: 282px;
    height: 50px;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
  }
}

@media screen and (min-width) and (max-width: 800px) {
  .profile {
    padding: 40px 20px 0 0;
  }

  .profile__add {
    margin-left: 23px;
  }
}
